.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 0rem 1.5rem;
}

.header__left {
    flex: 0.5;
    min-width: 80px;
    background-color: white;
    color: grey;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.header__left > input {
    flex: 0.5;
    border: none;
    width: 100%;
}

.header__right {
    display: flex;
    flex: 0.08;
    align-items: center;
    background-color: #101a18;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
}

.header__right > h4 {
    margin-left: 10px;
}